# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    {label: 'Tabularize', command: 'tabularize:toggle'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tabularize'
      'submenu': [
        { 'label': 'Toggle', 'command': 'tabularize:toggle' }
      ]
    ]
  }
]
