# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tabularize'
      'submenu': [
        { 'label': 'Activate', 'command': 'tabularize:toggle' }
      ]
    ]
  }
]
